<footer class="main-footer">
  <div class="footer-content">
    <div class="container-fluid">
      <div class="row">
        <!-- Logo & Description -->
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="footer-section">
            <div class="footer-logo-section">
              <img src="assets/comp-logo.jpg" alt="CS Department Logo" class="footer-logo" />
              <h4>Faculty of Computers & Information</h4>
              <p class="university-name">Luxor University</p>
            </div>
            
          </div>
        </div>
        
        <!-- Quick Links -->
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="footer-section">
            <h5 class="footer-title">{{ footerSections[0]?.title }}</h5>
            <ul class="footer-links">
              <li *ngFor="let link of footerSections[0]?.links">
                <a [routerLink]="link.route" [attr.href]="link.external ? link.route : null">{{ link.label }}</a>
              </li>
            </ul>
          </div>
        </div>
        
        <!-- Contact Info -->
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="footer-section">
            <h5 class="footer-title">Contact Info</h5>
            <div class="contact-info">
              <div class="contact-item">
                <i class="pi pi-map-marker"></i>
                <div>
                  <p>Luxor University Campus<br>Luxor, Egypt</p>
                </div>
              </div>
              <div class="contact-item">
                <i class="pi pi-phone"></i>
                <div>
                  <p>+20 123 456 789</p>
                </div>
              </div>
              <div class="contact-item">
                <i class="pi pi-envelope"></i>
                <div>
                  <p>info@csdept.edu</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Social & Newsletter -->
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="footer-section">
            <h5 class="footer-title">Follow Us</h5>
            <div class="social-links">
              <a href="#" class="social-link facebook">
                <i class="pi pi-facebook"></i>
              </a>
              <a href="#" class="social-link twitter">
                <i class="pi pi-twitter"></i>
              </a>
              <a href="#" class="social-link linkedin">
                <i class="pi pi-linkedin"></i>
              </a>
              <a href="#" class="social-link instagram">
                <i class="pi pi-instagram"></i>
              </a>
              <a href="#" class="social-link youtube">
                <i class="pi pi-youtube"></i>
              </a>
            </div>
            
           
            </div>
          </div>
        </div>
      </div>
    </div>
  
  <!-- Footer Bottom -->
  <div class="footer-bottom">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-md-6">
          <p class="copyright">
            &copy; {{ currentYear }} Faculty of Computers & Information - Luxor University. All Rights Reserved.
          </p>
        </div>
        <div class="col-md-6">
          <div class="footer-bottom-links">
            <a href="#privacy">Privacy Policy</a>
            <a href="#terms">Terms of Service</a>
            <a href="#sitemap">Sitemap</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>