<!-- Top Bar -->
<div class="top-bar">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-6">
        <div class="social-icons">
          <a href="#" class="social-link">
            <i class="pi pi-facebook"></i>
          </a>
          <a href="#" class="social-link">
            <i class="pi pi-twitter"></i>
          </a>
          <a href="#" class="social-link">
            <i class="pi pi-linkedin"></i>
          </a>
          <a href="#" class="social-link">
            <i class="pi pi-instagram"></i>
          </a>
        </div>
      </div>
      <div class="col-md-6 text-end">
        <div class="col-md-6 text-end">
        <a class="lang-btn" href="https://computers-and-information-ar.vercel.app/home">
          <i class="pi pi-globe me-2"></i>
         عربي
        </a>
      </div>
      </div>
    </div>
  </div>
</div>

<!-- Main Header -->
<header class="main-header">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="logo-section d-flex align-items-center">
          <div class="logo-frame">
            <img src="assets/comp-logo.jpg" alt="CS Logo" class="logo" />
          </div>
          <div class="dept-info ms-3">
            <h1 class="dept-title">Faculty of Computers and Information</h1>
            <p class="university-name">Luxor University</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="contact-info d-flex justify-content-end align-items-center gap-4">
          <div class="contact-item">
            <i class="pi pi-envelope"></i>
            <span>info@csdept.edu</span>
          </div>
          <div class="contact-item">
            <i class="pi pi-phone"></i>
            <span>+20 123 456 789</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg main-navbar">
  <div class="container-fluid">
    <button 
      class="navbar-toggler" 
      type="button" 
      data-bs-toggle="collapse" 
      data-bs-target="#navbarNav"
      [attr.aria-expanded]="!isNavbarCollapsed"
      (click)="toggleNavbar()"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" [class.show]="!isNavbarCollapsed" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item dropdown" *ngFor="let item of navigationItems">
          <ng-container *ngIf="item.children && item.children.length > 0; else singleLink">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown{{item.id}}" role="button" [attr.aria-expanded]="item.isOpen" (click)="$event.stopPropagation(); toggleDropdown(item, $event)">
              <i [class]="item.icon + ' me-2'" *ngIf="item.icon"></i>{{ item.label }}
            </a>
            <ul class="dropdown-menu" [class.show]="item.isOpen" [attr.aria-labelledby]="'navbarDropdown' + item.id" (click)="$event.stopPropagation()">
              <li *ngFor="let child of item.children">
                <a
                  class="dropdown-item"
                  [routerLink]="child.route"
                  [fragment]="child.fragment"
                  [queryParams]="child.queryParams"
                  routerLinkActive="active"
                  (click)="closeDropdown(item)">
                  <i [class]="child.icon + ' me-2'" *ngIf="child.icon"></i>{{ child.label }}
                </a>
              </li>
            </ul>
          </ng-container>
          <ng-template #singleLink>
            <a class="nav-link" [routerLink]="item.route" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
              <i [class]="item.icon + ' me-2'" *ngIf="item.icon"></i>{{ item.label }}
            </a>
          </ng-template>
        </li>
      </ul>
    </div>
  </div>
</nav>