<section class="vision-mission-section">
  <div class="container-fluid">
    <div class="vmg-container">
      <div
        *ngFor="let item of visionMissionData; let i = index"
        class="vmg-card fade-in"
        [style.animation-delay.ms]="i * 200"
        (click)="navigateTo(item)"
        [style.cursor]="item.routes ? 'pointer' : 'default'"
      >
        <div class="card-content">
          <div class="icon-container">
            <i [class]="item.icon"></i>
          </div>
          <h3>{{ item.title }}</h3>
          <p>{{ item.description }}</p>
        </div>
        <div class="glow-ring"></div>
      </div>
    </div>
  </div>
</section>